TIDB_HOST=gateway01.aws.tidbcloud.com
TIDB_PORT=4000
TIDB_USER=prefix.root
TIDB_PASSWORD=your_password_here
TIDB_DB_NAME=facial_attendance
CA_PATH=/etc/ssl/certs/ca-certificates.crt

WHATSAPP_SERVICE_URL=http://localhost:3001
API_HOST=0.0.0.0
API_PORT=8000
FACE_DB_DIR=data/face_db
FACE_MATCH_THRESHOLD=0.4
MODEL_PACK=buffalo_l
